@using TheTask.Data;
@{
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}
@model Application

<div class="card my-5">
    <h1 class="card-header text-white text-center" style="background-color:rgba(0,111,62,255);">Approval</h1>
    <div class="card-body">
        <form method="post">
            <input type="hidden" name="appId" value="@Model.Id" />
            <div class="mb-3">
                <label for="notes" class="form-label">Notes</label>
                <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
            </div>

            <div class="text-center">
                <button asp-controller="Employee" asp-action="DisapproveEmailPOST" type="submit" class="btn btn-success me-3">Send Email</button>
                <a asp-controller="Employee" asp-action="ViewDetails" asp-route-id="@Model.Id" type="button" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

