@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="mx-3 my-3">USAL</h1>
    <div class="flex-row justify-content-center align-items-center mx-5" style="display:flex">
        <div class="card text-white mx-3 my-3 w-50 text-center custom-card" style="background-color:rgba(0,145,80,255);">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h4 class="card-title">Faculty Of Management</h4>
                <p>
                    The faculty of Management, Finance and Economics (FMFE) at USAL was established in 2013. It started its operations in the same year. The first promotion graduates in summer 2016.
                    FMFE aims to be a leader in the management field in Lebanon. Its target is to fill the gap between academia and the labor market. It focuses on preparing a labor force with solid scientific background with practical skills.
                    You are invited to visit our premises on the old airport road. You can see and touch our friendly environment. You can also visit the FMFE to enquire about the business concentrations, or any further enquiry.
                </p>
            </div>
        </div>
        <div class="card text-white mx-3 my-3 w-50 text-center custom-card" style="background-color:rgba(0,111,62,255);">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h4 class="card-title">Faculty Of Education</h4>
                <p>
                    The various programs of the faculty of Education at the USAL were developed in order to prepare and qualify the undergraduates throughout their journey, as well as graduates who wish to join the teaching profession according to the distinct quality standards of the labor market demands.
                    Our objectives, competencies, and program outcomes were based on basic educational knowledge and trends, in addition to the skills and international standards required by the teacher for his/her profession.
                    The department aims at helping the teachers gain field experience directly from the most important Lebanese schools where the students get the chance to be trained at these schools, as a program requirement, under the supervision of academic experts.
                </p>
            </div>
        </div>
        <div class="card text-white mx-3 my-3 w-50 text-center custom-card" style="background-color:rgba(0,145,80,255);">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h4 class="card-title">Faculty Of Arts & Sciences</h4>
                <p>Faculty of Arts and Sciences includes two different departments namely the departments of Media and Computer Science.
                    Looking at the huge technological progress, it has been admitted that computer has overpassed its assigned role of computation and has emerged as an electronic brain with much greater capability.  Computer science becomes a discipline that contributes in advancing other disciplines such as health-care, environmental science, and engineering, etc. Prepare graduates to work in the different fields of Media, and give them the ability to handle information technology and communication.
                </p>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" asp-controller="Admission" asp-action="Index" style="background-color:rgba(0,145,80,255);">Apply Now!</a>
</div>